<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>
   <body>
   <h1>Ilwin Dcunha</h1>
    <br>
    <h2>1001390458</h2>
      <center>
      <header> <h1> Earthquake data</h1> </header>
      <br> <br>

      <form action = "{{ url_for('searchfour') }}" method = "POST">

          <label >Location Source</label><input type = "text" name = "locationSource" /></br>
          <label >Magnitude</label><input type = "text" name = "mag" /></br>
      <button type="submit" id="submit" name="Import" class="btn btn-primary button-loading" data-loading-text="Loading...">Search</button>


          <!--<h1> {{rows}}</h1>-->
          <h2> Display results here</h2>
             <table border = 1>
         <thead>
            <td>time</td>
            <td>Lat</td>
            <td>Long</td>
            <td>Place</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["timee"]}}</td>
            <td>{{row["latitude"]}}</td>
            <td> {{ row["longitude"]}}</td>
             <td> {{ row["place"]}}</td>

         </tr>
         {% endfor %}
      </table>
      </form>

      <br>
      <h2> <a href = "/">Home</a> </h2>
        </center>
   </body>
</html>